<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../img/aot.png" alt="aot" class="img-thumbnail rounded-circle " width="200" height="200">
            <h1 class="display-4">arifin</h1>
            <p class="lead">fronend | disainer</p>
        </div>
    </div>
</div>

